PHX_SERVER=true
PHX_HOST=your-domain.com
PORT=4000
DATABASE_URL=ecto://hostctl:changeme@localhost/hostctl_prod
MYSQL_ROOT_URL=mysql://root:changeme@localhost:3306/mysql
POSTGRES_ROOT_URL=postgres://postgres:changeme@localhost:5432/postgres
SECRET_KEY_BASE=replace_with_output_of_mix_phx_gen_secret
POOL_SIZE=10
GITHUB_REPO=your-org/hostctl
# GITHUB_PRERELEASES=true
